<div class="new-team container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <nav class="pull-right">
          <%= link_to fa_icon("arrow-left", text: "Cancel"), teams_path, class: "btn btn-default" %>
        </nav>
        <h1>Add Team</h1>
      </div>
      <%= form_for @team, html: { class: "new-team-form team-form" } do |form| %>
        <%= render form %>
      <% end %>
    </div>
  </div>
</div>
