<div class="new-user">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="page-header">
        <nav class="pull-right">
          <%= link_to fa_icon("arrow-left", text: "Cancel"), users_path, class: "btn btn-default" %>
        </nav>
        <h1>Add User</h1>
      </div>
      <%= form_for @user, html: { class: "new-user-form user-form" } do |form| %>
        <%= render form %>
      <% end %>
    </div>
  </div>
</div>
