<h1>Add User</h1>
<div class="new-user">
  <nav>
    <%= link_to "Cancel", users_path %>
  </nav>
  <%= form_for @user, html: { class: "new-user-form user-form", id: nil } do |form| %>
    <%= render form %>
  <% end %>
</div>
