<div class="page-header">
  <%= link_to "Back to Projects", projects_path, class: "btn btn-default btn-lg pull-right" %>
  <h1>Update Project</h1>
</div>

<%= form_for @project, html: { id: "project-form", class: "form-horizontal" } do |form| %>
  <%= render form %>
<% end %>
