body {
  padding-bottom: 50px;
}

.chosen-container-multi {
  .chosen-choices {
    padding: 0 0 6px 6px;

    .search-choice {
      margin: 6px 6px 0 0 !important;
    }

    .search-field input {
      margin: 6px 0 0 0 !important;
      height: 21px !important;
      line-height: 21px !important;
    }
  }
}
